<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Vehicle</title>
</head>
<body>
<h2>Edit Vehicle</h2>
<form th:action="@{/vehicles/update/{id}(id=${vehicle.vehicleId})}" th:object="${vehicle}" method="post">
    <input type="hidden" th:field="*{vehicleId}"/>
    <label>Vehicle Name: <input type="text" th:field="*{vehicleName}"/></label><br/>
    <label>Vehicle Model: <input type="text" th:field="*{vehicleModel}"/></label><br/>
    <label>Year of Manufacture: <input type="number" th:field="*{yearOfManufacture}"/></label><br/>
    <label>Vehicle Color: <input type="text" th:field="*{vehicleColor}"/></label><br/>
    <input type="submit" value="Save Changes"/>
</form>
</body>
</html>
